@background: #FFF;
@background-dark: darken(@background, 100%);
@title: #369;
@title-dark: lighten(@title, 50%);
@subtitle: #444;
@subtitle-dark: lighten(@subtitle, 100%);
@text: #333;
@text-dark: lighten(@text, 100%);
@text-hover: #607D8B;
@text-hover-dark: @text-hover;
@secondary: #EEE;
@secondary-dark: #333;
@secondary-hover: #CCC;
@secondary-hover-dark: #444;
@chord-color: darkgreen;
@chord-color-dark: lightgreen;

@transition: .5s;
@border-radius: 10px;
