@import "colors";

h1 {
    color: @title;
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
    text-align: center;
    @media (prefers-color-scheme: dark) {
        color: @title-dark;
    }
    > a, > a:hover, > a:active, > a:visited {
        color: @title;
        @media (prefers-color-scheme: dark) {
            color: @title-dark;
        }
    }
}

h2, h3 {
    color: @subtitle;
    font-weight: lighter;
    margin-bottom: 0;
    @media (prefers-color-scheme: dark) {
        color: @subtitle-dark;
    }
}

footer {
    text-align: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: @text;
    background: @background;
    max-width: 75em;
    margin: 1em;
    @media (prefers-color-scheme: dark) {
        color: @text-dark;
        background: @background-dark;
    }
    @media (min-width: 75em + 1em) {
        margin: auto;
    }
}

nav {
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
    > ul {
        padding-inline-start: 0px;
        > li {
            display: inline-block;
        }
    }
}

nav a > span {
    border-width: 4px;
}
a {
    text-decoration: none;
    > span {
        color: @text;
        padding: 0.5em;
        margin: 0.2em;
        display: inline-block;
        border-radius: @border-radius * 5;
        border: 1px solid @text;
        @media (prefers-color-scheme: dark) {
            color: @text-dark;
            border-color: @text-dark;
        }
        &:hover {
            background: @secondary-hover;
            transition-duration: @transition;
            @media (prefers-color-scheme: dark) {
                background: @secondary-hover-dark;
            }
        }
        &#nav-web { border-color: #6ecf00; }
        &#nav-audios { border-color: orange; }
    }
}
