    <footer>
        <p>
            &copy; 2023 Carlos Galindo, Parroquia San Leandro
            <a href="https://gitlab.com/parroquia-san-leandro/cancionero-web"><span>Código fuente</span></a>
        </p>
    </footer>
