    <header>
        <h1><a href="{{ path }}">Cancionero San Leandro</a></h1>
        <nav class="nav">
            <ul>
                <li><a href="https://sanleandrovalencia.es/"><span id="nav-web">Parroquia San Leandro</span></a></li>
                <li><a href="https://nube.sanleandrovalencia.es/s/X23Jzz5A6dpCfr2"><span id="nav-audios">Grabaciones</span></a></li>
                <li><a href="https://sanleandrovalencia.es/cancionero/"><span>Cancionero en PDF</span></a></li>
            </ul>
        </nav>
    </header>
