<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "head.html" with path=".." only %}
        <meta http-equiv="refresh" content="0; url = ../{{ song.url|urlencode }}">
    </head>
    <body>
        {% include "header.html" with path=".." %}
        <a href="../{{ song.url|urlencode }}">Redirigiendo a la canción, haz click aquí si no sucede de forma automática.</a>
        {% include "footer.html" %}
    </body>
</html>
