<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" with path="." only %}
  <link rel="stylesheet" type="text/css" href="song.css"/>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <script async src="song.js"></script>
</head>
<body>
{% include "header.html" with path="." %}
<main>
  <h2>Índice</h2>
  <ol class="songs">
    {% for song in songs %}
    <a href="#{{ song.number }}"><li>
      <span class="number">{{ song.number }}.</span>
      {{ song.name }}
    </li></a>
    {% endfor %}
  </ol>
  {% for song in songs %}
  <div class="song" id="wholeSongDiv">
    <h2 id="{{ song.number }}">{{ song.number }}. {{ song.name }}</h2>
    <div id="songLyrics">
      {% for verse in song.verses %}
      <div class="{{ verse.kind }}">
        {% for line in verse.lines %}
        {{ line }}<br/>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</main>
{% include "footer.html" %}
</body>
</html>